<%- include('header')%>
<form method="GET" action="/quotation">
  <input name="quotation" placeholder="Dollar quotation today">
  <input name="quantity" placeholder="How much do you have?">
  <button>Convert!</button>
</form>
<%- include('footer')%>